<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="hide">
  <div class="container" id="galeria">
    <a class="navbar-brand" href="#">Cloudinary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nueva">Subir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" *ngIf="hide">
  <router-outlet></router-outlet>
</div>
<div class="mx-auto" style="width: 270px;" *ngIf="!hide">
    <h1>Inicio de sesion</h1>
    <h5>Correo</h5>
    <input type="email" [(ngModel)]="email">
    <h5>Contraseña</h5>
    <input type="password" [(ngModel)]="pass">
    <br><button (click)="submit()">Ingresar</button>
</div>